<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="29f0c82f-ffdf-4c66-93a0-de60fd0a225f"
            Publisher="CN=tomas"
            Version="1.0.0.0" />
  
  <Properties>
    <DisplayName>wrapper</DisplayName>
    <PublisherDisplayName>tomas</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>wrapper</Description>
  </Properties>
  
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  
  <Applications>
    <Application Id="App" 
        Executable="wrapper.exe" 
        EntryPoint="wrapper.App">
        <VisualElements 
            DisplayName="wrapper"
            Logo="Logo.png"
            SmallLogo="SmallLogo.png"
            Description="wrapper"
            ForegroundText="light"
            BackgroundColor="#222222">
            <SplashScreen Image="SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>